<div class='meeting-container'>

  <div class='meeting-contents'>
    <div class='meeting-top'>
      <h2>
        <%= @meeting.name %>
      </h2>
    </div>
    <div class='meeting-center'>
      <p>
        <strong>内　容: </strong>
        <%= @meeting.content %>
      </p>
      <p>
        <strong>時　間: </strong>
        <%= @meeting.start_time %>
      </p>
      <p>
        <strong>ユーザ: </strong>
        <%= User.find_by(id: @meeting.userid).name %>
      </p>
      <p>
        <strong>表示／非表示: </strong>
        <% if @meeting.hidden %>
          非表示
        <% else %>
          表示
        <% end %>
      </p>
    </div>
    <div class='meeting-bottom'>
      <% if @meeting.userid == @current_user.id %> 
        <%= link_to 'Edit', edit_meeting_path(@meeting) %> |
      <% end %>
      <%= link_to 'Back', "/users/#{@current_user.id}" %>
    </div>
  </div>
</div>