<h1>
  <%= @user.name %>
</h1>

<div>
  <% if Relationship.find_by(follower_id: session[:user_id], followed_id: @user.id) %>
    <%= link_to "フォロー済み", "/relationships/#{params[:id]}", method: :delete %>
  <% else %>
    <%= link_to "フォローする", "/relationships/#{params[:id]}", method: :post %>
  <% end %>
  
  
</div>

<div><%= link_to "Add Schedule", "/meetings/new" %></div>

<%= month_calendar(events: @meetings) do |date, meetings| %>
  <%= date %>
    <% meetings.each do |meeting| %>
      <div>
        <% if meeting.userid == session[:user_id]%>
          <%= link_to meeting.name, "/meetings/#{meeting.id}" %>
        <% else %>
          <%= meeting.name %>
        <% end %>
          <%#= meeting.id %>
          <%= meeting.userid %>
      </div>
    <% end %>
<% end %>

<%= @meetings.each do |m| %> 
  <%= m.name %>
<% end %>

