<div class="main-content">

  <h1>
    <%= @user.name %>
  </h1>

  <% if @current_user.id != @user.id%>
    <div>
    <% if Relationship.find_by(follower_id: @current_user.id, followed_id: @user.id) %>
      <%= link_to "フォロー済み", "/relationships/#{params[:id]}", method: :delete %>    
    <% else %>
      <%= link_to "フォローする", "/relationships/#{params[:id]}", method: :post %>
    <% end %>
    </div>
  <% end %>

  <%= month_calendar(events: @meetings) do |date, meetings| %>
    <%= date %>
      <% meetings.each do |meeting| %>
        <% if !meeting.hidden %>
        
          <div class="schedule">
            <% if meeting.userid == @current_user.id%>
              <%= link_to meeting.name, "/meetings/#{meeting.id}" %>
              <%= "( #{User.find_by(id: meeting.userid).name} )" %>
            <% else %>
              <%= meeting.name %>
              <%= "( #{User.find_by(id: meeting.userid).name} )" %>
            <% end %>
            
          </div>
        
        <% else %>
        
          <% if meeting.userid == @current_user.id%>
            <div class="schedule">
              <%= link_to meeting.name, "/meetings/#{meeting.id}" %>
              <%= "( #{User.find_by(id: meeting.userid).name} )" %>
            </div>  
          <% end %>
        
        <% end %>
      <% end %>
  <% end %>
</div>

