users#show

<div><%= link_to "Add Schedule", "/meetings/new" %></div>

<%= month_calendar(events: @meetings) do |date, meetings| %>
  <%= date %>
    <% meetings.each do |meeting| %>
      <div>
        
          <%= meeting.name %>
          <%= meeting.userid %>
      </div>
    <% end %>
<% end %>

<%= @meetings.each do |m| %> 
  <%= m.name %>
<% end %>

