<div class="main-content">

  <h1>
    <%= @user.name %>
  </h1>
  
  <div>
    <% if Relationship.find_by(follower_id: @current_user.id, followed_id: @user.id) %>
      <%= link_to "フォロー済み", "/relationships/#{params[:id]}", method: :delete %>
    <% elsif @current_user.id == @user.id%>
    
    <% else %>
      <%= link_to "フォローする", "/relationships/#{params[:id]}", method: :post %>
    <% end %>
    
    
  </div>


  <%= month_calendar(events: @meetings) do |date, meetings| %>
    <%= date %>
      <% meetings.each do |meeting| %>
        <div class="schedule">
          <% if meeting.userid == @current_user.id%>
            <%= link_to meeting.name, "/meetings/#{meeting.id}" %>
          <% else %>
            <%= meeting.name %>
          <% end %>
            <%= "( #{User.find_by(id: meeting.userid).name} )" %>
        </div>
      <% end %>
  <% end %>
</div>

